@font-face {
  font-family: 'Roboto Mono';
  src: local('Roboto Mono'), url(./assets/fonts/RobotoMono-VariableFont_wght.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'Roboto Mono', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto Mono', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg {
  background-image: radial-gradient(farthest-side at 50% 10%,#615CCD,black);
  color: #fff
}
